
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Css/Custom/rptMotor.css" rel="stylesheet" />
<script src="~/Scripts/Js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/Js/bootstrap.min.js"></script>
<link href="~/Content/Images/font-awesome-4.6.2/font-awesome-4.6.2/css/font-awesome.min.css" rel="stylesheet" />

<script>
    function printpage() {
        document.getElementById('btnPrint').style.visibility = "hidden";
        window.print();
    }
</script>

<div class="row">
    <button id="btnPrint" type="button" value="Print" onClick="printpage()">
        <i class="fa fa-print fa-3x" title="Delete" aria-hidden="true"></i>
    </button>
</div>

<div style="margin:-30px 10px 40px 40px">
    <p style="text-align:center;"><img src="~/Content/Images/multi-logo1.jpg" /></p>

    <table style="width: 100%; text-align:center;" class="table table-bordered">
        <tr>
            <td style="text-align:center; font-style:italic; font-size:medium; font-family:'Lucida Sans'">
                <p>(INCORPORATED IN GHANA WITH LIMITED LIABILITY)</p>
                <p>HEAD OFFICE</p>
                <p>MANHYIA, KUMASI</p>
                <p>P.O.BOX 232, ADMUM, KUMASI</p>
                <p>Tel: 0322089931 / 2</p>
                <p><strong>Email:</strong> info@miclghana.com / &nbsp; <strong>Web:</strong> www.miclghana.com.gh</p>

            </td>
        </tr>

    </table>

    <div class="col-md-12">

        <p style="text-align:center;font-weight:700; font-size:x-large"> <u>COMPREHENSIVE HOMEOWNERS INSURANCE</u>  </p>

        <div class="row" style="border-bottom: 2px dashed #000000;font-family:'Century Gothic'; text-align:justify">
            <div class="col-lg-12">
                <p>
                    <strong>WHEREAS</strong> the Insured has by a proposal and declaration applied to <strong>Multi Insurance Company Limited</strong>
                    (hereinafter referred to as the Company) for Insurance against Contingencies specified below
                </p>
                <p>
                    <strong>NOW</strong> this <strong>POLICY WITNESSES</strong> that in consideration of the Insured paying the premium stated in the Schedule,
                    The Company hereby agrees (subject to the conditions and endorsements on this policy) that in the event of any of the
                    said contingencies happening during the period of Insurance or in any subsequent period in respect of which renewal premium has been accepted to Indemnify the Insured as hereinafter provided.
                </p>
            </div>
        </div>

        <div class="row" style="font-family:'Century Gothic'; font-size:medium;  text-align:justify;">
            <div class="col-lg-12">
                <div style="margin-top: 30px;">

                    <div class="row">
                        <p><strong><u>SECTION 1 – BUILDINGS </u></strong></p>
                    </div>

                    <div class="row">
                        <p>
                            Contingencies relating to the Buildings –<br />
                            Loss or damage caused by any of the Under-mentioned perils to the Building;
                        </p>

                        <ol>
                            <li>
                                Fire Explosion Lightning Thunderbolt
                            </li>
                            <li>
                                Storm Tempest Hurricane Tornado and Flooding excluding the first GH¢500.00
                                of the cost of destruction or damage to fences and gates.
                            </li>
                            <li>
                                Earthquake and Volcanic Eruption.
                            </li>
                            <li>
                                Bursting or Overflowing of water Tanks Apparatus or Pipes excluding destruction
                                or damage occurring whilst the Private  Dwelling house is unoccupied for fourteen continuous days.
                            </li>
                            <li>
                                Aircraft and other Aerial Devices or Articles dropped therefrom.
                            </li>
                            <li>
                                Impact with any of the said Buildings by any Road Vehicle Horses or Cattle not belonging
                                to or under the control of the insured his employees his servants or any member of his household.
                            </li>
                            <li>
                                Riot Civil Commotion Strikes Labour Disturbances or Malicious Persons not acting on behalf
                                of or in connection with any political organisation or not assuming the proportions of or amounting to a popular uprising.
                            </li>
                            <li>
                                Theft consequent upon actual forcible and violent entry of the premises but excluding whilst the buildings or any part
                                of the building are rent let or sub-let.
                            </li>
                        </ol>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<div style="margin:30px 10px 40px 40px">
    <div class="col-lg-12" style="font-family:'Century Gothic'">

        <p><strong><u>SECTION 2 – CONTENTS </u></strong></p>

        <div class="row">
            <p>
                Contingencies relating to Contents –<br />
                Loss or Damage caused by any of the under-mentioned
                perils to the contents hereinafter specified
            </p>

            <ol>
                <li>
                    Fire Explosion Lightning Thunderbolt Earthquake Volcanic Eruption.
                </li>
                <li>
                    Storm Tempest and Flooding excluding destruction or damage by frost and
                    destruction or damage due to rain (other than destruction caused by flooding)
                    unless such destruction or damage arises as a direct result of the Building in
                    which the property insured is contained first sustaining damage by the direct force of Storm or Tempest.
                </li>
                <li>
                    Bursting or Overflowing of Water Tanks Apparatus or Pipes excluding destruction or damage occurring whilst
                    the Private Dwelling House is left unoccupied for more than fourteen continuous days.
                </li>
                <li>
                    Aircraft or other Aerial Devices or Articles dropped therefrom.
                </li>
                <li>
                    Riot Civil Commotion Strikes Labour Disturbances or Malicious Persons not acting on behalf
                    of or in connection with any political organisation or not assuming the proportions of or amounting to a popular uprising.
                    <br /><br /><br /><br /><br /><br />
                </li>
                <li>
                    Theft or any Attempt thereat excluding theft not involving entry into or exit from the Private Dwelling House Domestic
                    Offices Stables Garages or outbuildings by forcible and violent means.
                </li>
            </ol>

        </div>

    </div>
</div>

<div style="margin:50px 10px 40px 40px; font-family:'Century Gothic'; text-align:justify;">
    <div class="col-md-12">

        <div class="row">
            <p><strong><u>SECTION 3 – LIABILITY TO THE PUBLIC  </u></strong></p>
        </div>

        <div class="row">
            <p>
                Contingencies relating to Liability to the Public against all sums for which
                the Insured or any member of his household may be held legally liable (excluding liability under contract) as
                owner of the Building in respect of claims made by any person or persons for;
            </p>

            <ol>
                <li>
                    Personal injury to any person not being a member of the Insured’s household servant or employee.
                </li>
                <li>
                    Accidental damage to property not belonging to or in the charge of or under the control of the Insured or a member of his
                    household servant or employee caused within the limits of the Private Dwelling House Provided always that the liability for
                    injury or damage arising out of or incidental to the following is excluded <br />
                    a. the Insured’s profession or business<br />
                    b. the use of lifts or vehicles boats aircrafts or any other crafts <br />
                    c. the carrying out of alterations repairs or decorations to the buildings and premises unless carried out by the Insured
                    himself or by members of his household domestic servants or by casual labourers for whose act the Insured is legally responsible.
                </li>

            </ol>

        </div>
        <br /><br /><br />
        <div class="row">
            <p><strong><u>SECTION 4 – PERSONAL ACCIDENT   </u></strong></p>
        </div>

        <div class="row">
            <p>
                <strong>Contingencies relating to Personal Accident </strong>
            </p>
            <p>
                Bodily Injury which Independently of any other cause shall result in Death Disablement or Permanent Disability or Medical expense caused to the
                Insured and/or Spouse and/or Children subject to the scale of benefit as specified in the schedule.
            </p>

            <p>
                <strong><u>DEFINITIONS </u></strong>
            </p>
            <p>
                <strong>Bodily Injury </strong><br />
                Shall mean injury which is caused by accidental means and which shall solely and independently of any other cause, result in the Insured Persons’
                Death, Disablement or Permanent Disability within 52 weeks from the date of such accident.
            </p>
            <p>
                <strong>Loss of Limb or Limbs </strong><br />
                Shall mean the permanent and complete loss of limbs by physical separation at or above the wrist or ankle or the permanent and complete loss of use thereof.
            </p>
            <p>
                <strong><u>Loss of Eye or Eyes </u></strong><br />
                Shall mean the permanent and total loss of sight which shall be considered as having occurred
                a. in both eyes if the Insured is so declared by a fully qualified ophthalmic specialist, or<br />
                b. in one eye if the Insured is so declared by a fully qualified ophthalmic specialist.
            </p>
            <p>
                <strong><u>Permanent Total Disablement</u></strong><br />
                Shall mean disablement caused other than by Loss of Limb or Eye which prevents the Insured Person from engaging totally in his usual occupation for 52 consecutive weeks and is without expectation of recovery.
            </p>
            <p>
                <strong>Temporary Total Disablement</strong><br />
                Shall mean temporary disablement, which entirely prevents the Insured Person(s) from engaging in his usual occupation for a minimum of two weeks or more.
            </p>
            <p>
                <strong>Medical Expenses </strong><br />
                Shall mean costs necessarily incurred for medical treatment arising out of accidental Bodily Injury to the Insured.
            </p>
            <br />
            <p>
                <strong><u>SPECIFIC EXCLUSIONS TO THIS SECTION</u></strong>
            </p>
            <p>
                The Company shall not be liable in respect of Bodily Injury:
            </p>
            <p>
                <ol>
                    <li>
                        Directly or indirectly consequent upon: <br />
                        a. War and warlike situations whether war be declared or not.<br />
                        b. The Insured engaging in aviation, except as a passenger.<br />
                        c. Active service in the Armed forces.<br />
                        d. Insured committing, or attempting or commit suicide or intentional selfinflicted injury.<br />
                        e. the Insured suffering from sickness or disease not directly resulting from Bodily Injury.<br />
                        f. The Insured Person from engaging in professional sport.
                    </li>
                    <li>
                        Suffered after the Insured(s) person attains the age of 65 years.
                    </li>
                </ol>
            </p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <p>
                <strong><u>SECTION 5 – LOSS OF RENT </u></strong>
            </p>
            <p>
                <strong>Contingency relating to Loss of Rent </strong>
            </p>
            <p>
                If the Private Dwelling House be so damaged by any of the insured perils as to be rendered uninhabitable the Company shall pay to the Insured the actual
                cost of renting an alternative reasonable accommodation for the period necessary for reinstatement for an amount not exceeding ten per centum of the full value of the property per annum or the proportionate part thereof monthly.
            </p>
        </div>
        <br /><br /><br />
        <div style="margin-top:30px;" class="row">
            <p style="text-align:center"><strong><u>GENERAL EXCEPTIONS APPLICABLE TO ALL SECTIONS </u></strong></p>
        </div>
        <p>
            <ol>
                <li>
                    This insurance does not cover loss or damage directly or indirectly caused by or arising from or in consequence of or contributed to by
                    ionising radiations or contamination by radioactivity from any nuclear fuel or from any nuclear waste from the combustion of nuclear fuel. For
                    the purposes of this exclusion combustion shall include any self-sustaining process of nuclear fission.
                </li>
                <li>
                    This insurance does not cover any loss or damage occasioned by or through or in consequence, directly or indirectly of any of the following occurrences, namely:- <br />
                    (a) War, invasion, act of foreign enemy, hostilities or warlike operations (whether war be declared or not), civil war.<br />
                    (b) Mutiny, riot, military or popular uprising, insurrection, rebellion, revolution, military or usurped power, martial law or state of siege or any of the events or causes which determine the proclamation or maintenance of martial law or state of siege.<br />
                    (c) Acts of terrorism committed by a person or persons acting on behalf of or in connection with any Organization.
                </li>
                <li>
                    This insurance does not cover any consequential losses of any kind.
                </li>
                <li>
                    Unless otherwise expressly stated in the Policy this insurance does not cover:- <br />
                    (a) Goods held in trust or on commission. <br />
                    (b) Bullion or unset precious stones, gold items,  <br />
                    (c) Any curiosity or work of art for an amount exceeding GH¢500.00 <br />
                    (d) Manuscripts, plans, drawings or designs, patterns, models or moulds. <br />
                    (e) Securities, obligations, or documents of any kind, stamps, coined or paper money, cash, cheques books of account or other business books, computer systems records. <br />
                </li>
                <li>
                    Damage or loss to items in the open (other than buildings, structures and plant designed to exist or operate in the open.
                </li>
                <li>
                    Loss or damage to any structure not completely roofed.
                </li>
                <li>
                    Loss or damage to property occasioned by its own fermentation, natural heating or spontaneous combustion, or by its undergoing any heating or drying process;
                </li>

            </ol>
        </p>

        <p>
            <strong><u>C O N D I T I O N S </u></strong>
        </p>
        <p>
            <ol>
                <li>
                    The due observance and fulfillment of the terms of this policy in so far as they relate
                    to anything to be done or not to be done by the insured and truth of statements and answers in the proposal shall be conditions precedent to any liability of the Company to make any payment under this policy.
                </li>
                <li>
                    If there be any material misdescription of any property hereby insured or of any building or place in which such property is contained or any misrepresentation as to any
                    fact material to be known for estimating the risk or any omission to state such fact the Company shall not be liable upon this Policy so far as it relates to property affected by such misdescription, misrepresentation or omission.
                </li>
                <li>
                    No payment in respect of any premium shall be deemed to be payment to the Company unless a printed form of receipt for the same signed by an official or duly appointed Agent of the Company shall have been given to the Insured.
                </li>
                <li>
                    The Insured shall give notice to the Company of any insurance or insurances already effected or any of the property hereby insured, and unless such notice be given and the particulars of such insurance or
                    insurances be stated in or endorsed on this Policy by or on behalf of the Company before the occurrence of any loss or damage, all benefit under this Policy shall be forfeited.
                </li>
                <li>
                    Unless otherwise expressly stated by Endorsement hereon, nothing contained herein shall give any right against the Company by any person other than the Insured.
                    Further the Company shall not be bound by any passing of the interest of the Insured otherwise than by death or operation of law unless and until the Company shall by endorsement hereon declare the Insurance to continue.
                </li>
                <li>
                    If the property hereby insured shall, at the time of any loss be collectively of greater value than the sum insured, then the Insured shall be considered as being his own insurer for the difference and shall bear a
                    rateable proportion of the loss accordingly. Every item, if more than one, of the Schedule shall be separately subject to this condition.
                </li>
                <li>
                    If at the time of loss or damage or liability covered by this Policy there shall be any other insurance covering such loss damage or liability or any part thereof the Company shall not be liable for
                    more than its rateable proportion thereof.
                </li>
                <li>
                    a. The insured shall on the happening of any loss or damage to the property insured give immediate notice thereof in writing to the Company and shall at his own expense
                    within Fifteen Days after the happening of such loss or damage deliver to the Company a claim in writing with such detailed particulars and proofs as may be reasonably required.
                    In the case of loss or damage by theft or housebreaking or any attempt thereat he shall also give immediate notice to the Police. <br /><br />
                    b. The Insured shall on receiving notice of any accident or claim arising under Section 3 give notice thereof in writing to the Company as soon as possible and shall supply full particulars thereof in writing and shall send to the Company any writ, summons or other legal
                    process issued or commenced against the Insured and shall give all necessary information and assistance to enable the Company to settle or resist any claim or to institute proceedings.<br /><br />
                    c. The Insured shall not incur any expense in making good any damage without the written consent of the Company and shall not negotiate, pay, settle, admit or repudiate any claim without the like consent.
                    <br /><br /><br /><br /><br /><br />
                </li>
                <li>
                    The Company shall be entitled: <br />
                    a. On the happening of any loss of or damage to the property insured to enter any building where the loss or damage has happened and to take and keep possession of the property
                    Insured and to deal with the salvage in a reasonable manner and this Policy shall be proof of leave and license for such purpose. No property may be abandoned to the Company. <br />
                    b. To undertake in the name and on behalf of the Insured the absolute conduct, control and settlement of any proceedings at its own expense and for its own benefit but in the name of the
                    Insured to recover compensation or secure indemnity from any third party in respect of anything covered by this Policy. <br />
                </li>
                <li>
                    If any claim under this Policy shall be in any respect fraudulent or if any fraudulent means or devices are used by the Insured or anyone acting on his behalf to obtain any benefit under this Policy all benefit thereunder shall be forfeited.
                </li>
                <li>
                    The Insured shall take all reasonable precautions for the safety of the property hereby insured as regards the selection and supervision of the employees securing all doors and windows and other means of entrance to the premises and the like.
                </li>
                <li>
                    The Policy may be terminated at any time at the request of the Insured in writing to the Company and the premium thereon shall be adjusted on the basis of the Company receiving or retaining the customary short-term premium or minimum premium.
                    This policy may also be terminated by the Company by seven days notice given in writing to the Insured at his last known address, and the premium hereon shall be adjusted on the basis of the Company receiving or retaining pro rata premium.
                </li>
                <li>
                    All differences arising out of this Policy shall in accordance with and subject to the provisions of the Arbitration Act, 1961 or any statutory provisions in force be referred to the arbitration of one person to be appointed by both parties
                    or if they cannot agree upon a single arbitrator to the decision of two arbitrators one to be appointed in writing by each party and in case of disagreement between the arbitrators to the decision of an Umpire who shall have been appointed in writing by the arbitrators before entering on the reference. If the Company shall disclaim liability to the Insured for any claim hereunder and such claim shall not within 12 Calendar months from the date of such disclaimer have been referred to arbitration under the provisions herein contained then the claim shall for all purposes be deemed to have been abandoned and shall not thereafter be recoverable hereunder. The making of an award shall be a condition precedent to any liability of the Company or any right of action against the Company.
                </li>

            </ol>
        </p>
    </div>

</div>
