
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Css/Custom/rptMotor.css" rel="stylesheet" />
<script src="~/Scripts/Js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/Js/bootstrap.min.js"></script>
<link href="~/Content/Images/font-awesome-4.6.2/font-awesome-4.6.2/css/font-awesome.min.css" rel="stylesheet" />

<script>
    function printpage() {
        document.getElementById('btnPrint').style.visibility = "hidden";
        window.print();
    }
</script>

<div class="row">
    <button id="btnPrint" type="button" value="Print" onClick="printpage()">
        <i class="fa fa-print fa-3x" title="Delete" aria-hidden="true"></i>
    </button>
</div>

<div style="margin:-30px 10px 20px 20px">
    <p style="text-align:center;"><img src="~/Content/Images/multi-logo1.jpg" /></p>

    <table style="width: 100%; text-align:center;" class="table table-bordered">
        <tr>
            <td style="text-align:center; font-style:italic; font-size:medium; font-family:'Lucida Sans'">
                <p>(INCORPORATED IN GHANA WITH LIMITED LIABILITY)</p>
                <p>HEAD OFFICE</p>
                <p>MANHYIA, KUMASI</p>
                <p>P.O.BOX 232, ADMUM, KUMASI</p>
                <p>Tel: 0322089931 / 2</p>
                <p><strong>Email:</strong> info@miclghana.com / &nbsp; <strong>Web:</strong> www.miclghana.com.gh</p>

            </td>
        </tr>

    </table>

    <div class="col-md-12">

        <p style="text-align:center;font-weight:700; font-size:x-large"><u>Private Motor Vehicle Insurance Policy Third Party Fire and Theft</u></p>

        <div class="row" style="border-bottom: 2px dashed #000000;font-family:'Century Gothic'; font-size:medium">
            <div class="col-lg-12">
                <p>
                    Thank You for choosing Multi Insurance Commercial  Motor Vehicle Comprehensive Insurance Policy.
                    Please ensure that this policy meets your requirements.  If you have any queries or wish to make any alterations,
                    please contact Your Agent, Broker or us.
                </p>
                <p>
                    The Policy explains Your cover, rights, and obligations and should be read very carefully (in particular those
                    areas which have been shown in bold print) and retained by You for future reference.
                </p>
            </div>
        </div>

        <div class="row" style="border-bottom: 2px dashed #000000; margin-top:20px; font-family:'Century Gothic'">
            <div class="col-lg-12">
                <p>

                    <strong>PART A: THE AGREEMENT </strong><br />
                    After you have paid or agreed to pay the premium within the stipulated time,
                    We will insure you against loss, damage or liability as described occurring within Ghana, during the Period of Insurance.
                </p>

            </div>
        </div>

        <div class="row" style="font-family:'Century Gothic'">
            <div class="col-lg-12">
                <div style="border-bottom: 2px dashed #000000;margin-top: 30px;">

                    <div class="row">
                        <p><strong>PART B – DEFINITIONS </strong></p>
                    </div>

                    <div class="row">
                        <p> “<strong>You</strong>" “<strong>Your</strong>” means the Insured named in the Schedule </p>

                        <p>“<strong>We</strong>” “<strong>Us</strong>” “<strong>Our</strong>” means Multi Insurance Company Ltd. </p>

                        <p>“<strong>Loss</strong>” means sudden physical loss, damage or destruction to Your Vehicle caused by an Accident. </p>

                        <p style="text-align:justify">
                            “<strong>Your Vehicle(s)</strong> ” means the motor vehicle(s) and/or trailer(s) described in the Schedule including tools accessories
                            or appliances that are standard equipment whilst attached to or within Your Vehicle.
                        </p>

                        <p style="text-align:justify">
                            “<strong>Tools</strong>” are jerk, wheel spanner, set of screwdrivers, fire extinguisher, reflective triangle whilst attached or within
                            the vehicle. “Accessories/Appliances” are car radio/cassettes/compact disc, audio speakers, and air conditioner whilst attached to the vehicle.
                        </p>

                        <p style="text-align:justify">“ <strong>Accessories/Appliances</strong>  ” are car radio/cassettes/compact disc, audio speakers, and air conditioner whilst attached to the vehicle. </p>

                        <p style="text-align:justify">“ <strong>Schedule</strong> ” means the attachment, which forms part of the Policy and shows Your Policy number, together with the important details of your cover. </p>

                        <p>“<strong>Policy</strong>" means this document, the Schedule and any other amendments issued to you in writing.  Together they form The Agreement. </p>

                        <p>“ <strong>Period of Insurance</strong> ” means the period shown in the most recent Schedule or a subsequent period for which the Policy has been renewed. </p>

                        <p>“ <strong>Accident</strong> ” means an unexpected event resulting in injury or death or loss or damage arising out of the use of your Vehicle in Ghana. </p>

                        <p>“ <strong>Indemnity</strong> ” means an exact financial compensation to the policyholder sufficient to place him/her in the same financial position before the loss occurred. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div style="margin:30px 10px 20px 20px">
    <div class="col-lg-12" style="font-family:'Century Gothic'">

        <div style="font-style:italic">
            <p><strong>PART C – WE WILL PAY </strong></p>
        </div>

        <p><strong>SECTION 1 – VEHICLE LOSS OR DAMAGE </strong></p>

        <p style="text-align:justify">
            <ol>
                <li style="line-height: 30px;">
                    For loss of or damage to your vehicle and/or accessories caused by or arising out of: <br />
                    a. Accidental Collision or Overturning or Collision or Overturning due to mechanical breakdown or wear and tear. <br />
                    b. Fire external explosion self-ignition or lightning. <br />
                    c.	Theft, Burglary, Housebreaking. <br />

                </li>

                <li style="margin-top: 10px;">
                    For the loss of or damage to permanently fitted car radio/cassette, compact disk, audio speakers up to the amount specified in the schedule.
                    <br /><br /><br /><br /><br /><br />
                </li>
                <li style="margin-top: 10px;">
                    We will, at our option, repair, reinstate or replace Your Vehicle or pay the amount of the loss of or damage to Your Vehicle. The maximum amount payable by us will be the market value at the time of the loss or damage or the Sum Insured shown in the Schedule whichever is less.

                </li>
                <li style="line-height: 30px;">
                    You may authorise the repair of your damaged motor vehicle for which We may be liable under this policy provided that:<br />
                    a.	the estimated cost of such repair does not exceed the authorised repair limit
                    shown in the schedule <br />

                    b.	We are furnished immediately with a detailed estimate of the cost and <br />

                    c.	You shall give us every assistance or opportunity to ensure that such repair is necessary and the charge is reasonable. <br />

                </li>
                <li style="margin-top: 10px;">
                    Your claim shall be limited in respect of any lost or damaged part or accessory which is unobtainable in the country, to the cost as shown in the manufacturer’s last published price list plus a reasonable cost of transport and fitting.
                </li>
                <li style="margin-top: 10px;">
                    When a claim is made under this section, the Sum Insured is reduced by the extent of claim paid.  You are to reinstate the Sum Insured by paying an additional premium on the claim amount. <br />
                    a.  If the cost of repairs to your Vehicle is more than the Sum Insured we will treat it as a total loss. <br />
                    b.  If we settle on the basis that Your Vehicle is a total loss or uneconomical to repair, we will become entitled to possession and ownership of the damaged Vehicle. <br />
                    c.  When a total loss settlement is made the cover of Your Vehicle automatically ceases with no refund of premium.
                </li>

            </ol>

        </p>

    </div>
</div>

<div style="margin:30px 10px 20px 20px; font-family:'Century Gothic'">
    <div class="col-md-12">

        <div style="border-bottom: 2px dashed #000000;">
            <p><strong>SECTION 2 – LIABILITY TO THIRD PARTIES </strong></p>

            <div class="row">
                <p>In respect of legal liability to third parties resulting from an Accident caused by  Your Vehicle, We will indemnify: <br /></p>
                <ol style="text-align:justify">
                    <li style="line-height: 30px;">
                        You or Any other person driving, using or in charge of Your Vehicle with Your consent or Any authorised passenger getting in, on or out of Your Vehicle for: <br />
                        (i)	death of or bodily injury to any person, and/or <br />
                        (ii)	damage to property belonging to someone other than You or a member of Your household.
                    </li>
                    <li style="margin-top: 10px;">
                        Our limit of liability arising from one Accident or series of Accidents resulting from a single original cause is as stated in the schedule.
                    </li>
                    <li style="margin-top: 10px;">
                        When a claim is made under Section 2-1(ii) our limit of liability for Third Party Property Damage is reduced by the amount of claim paid.
                        You are to reinstate the Limit by paying an additional premium on the claim amount.
                    </li>
                    <li style="margin-top: 10px;">
                        All legal costs and expenses incurred with our written agreement in defending any court proceedings arising from an event for which cover is provided are recoverable under this policy.
                    </li>

                </ol>
            </div>

        </div>

        <div style="margin-top: 30px;"><p><strong>PART D – ADDITIONAL BENEFITS  </strong></p></div>

        <div class="row">
            <ol style="text-align:justify; border-bottom: 2px dashed #000000;">
                <li>
                    <strong>Emergency Medical Expenses/Treatment </strong><br />

                    We will pay the reasonable medical expenses incurred in connection with any bodily injury by violent accidental and external means sustained by You and/or any occupants of Your Vehicle
                    as the direct result of an Accident to Your Vehicle but such amount shall not exceed the authorized medical expenses limit shown in the schedule.  The period within which liability is
                    admissible shall be 48 hours after an accident.

                </li>
                <li style="margin-top: 10px;">
                    <strong>Compensation for Bodily Injury/Death </strong> <br />

                    We will pay compensation for bodily injury or death sustained by any member of Your household or any other occupants,
                    other than You or the driver whilst getting into, on or getting out of Your Vehicle which results from an accident.

                </li>
                <li style="margin-top: 10px;">
                    <strong>Personal Accident Benefit to Policyholder/Driver </strong><br />

                    We will pay the amounts as defined in the scale of Personal Accident Benefit attached whilst You or the Driver in control of the vehicle sustain bodily injury or death caused by or arising out of a motor accident. <br />
                    Provided always that, in respect of 2 and 3 above <br />

                    a.	Not more than the registered number of persons allowed (as stated in the schedule) are in Your Vehicle at the time of the Accident <br />

                    b.	No compensation shall be payable to any person in respect of death or injury directly or indirectly arising from: <br />

                    i.	Intentional self-injury, suicide, or attempted suicide, or any wilful act, physical defect or infirmity, or <br />
                    ii.	An accident happening whilst the driver of your Vehicle is under the influence of intoxicating liquor or drugs. <br />

                </li>

                <li style="margin-top: 10px;">
                    <strong>Towing and Storage </strong><br />

                    In the event of an accident we will pay for the reasonable cost of protection and removal of Your Vehicle to the nearest repairer or place of safety and to any other place approved by Us provided the cost does not exceed 20% of the agreed repair bill.

                </li>

                <li style="margin-top: 10px;">
                    <strong>Towing Disabled Vehicles </strong><br />
                    The policy is operative whilst towing any one disabled mechanically propelled vehicle and indemnity as provided under Section II of the policy shall be extended to such a vehicle being towed provided that: <br />
                    a.	The towage is not for reward <br />
                    b.	We will not pay for any damage to such towed vehicle or property  being conveyed thereby.
                    <br /><br /><br /><br /><br /><br />
                </li>

                <li style="margin-top: 10px;">
                    <strong>Trailer </strong><br />
                    We will pay for damage to any trailer, which at the time of the accident or theft is attached to Your Vehicle.  Payment will not exceed the market value or the sum insured of the trailer whichever is less.

                </li>

                <li style="margin-top: 10px;">
                    <strong>No Claim Discount </strong> <br />
                    Provided no claim is made under this policy during the preceding period of insurance, the renewal premium may be reduced unless You have already earned the maximum allowable No Claim Discount. <br />

                </li>

                <li style="margin-top: 10px;">
                    <strong>Driving Other Vehicles </strong><br />
                    We will pay Your legal Third Party liabilities whilst driving a motor vehicle similar to yours but not belonging to you or hired to you under a hire-purchase agreement.
                </li>

                <li style="margin-top: 10px;">
                    <strong>Use Outside Ghana </strong> <br />
                    Subject to our consent and payment of an additional premium, we will issue an international Motor Insurance Certificate known as the “ECOWAS BROWN CARD” in respect of your vehicle.  This policy will cover liabilities
                    as specified in the said ECOWAS Brown Card Scheme whilst visiting other countries in the West African Subregion.
                </li>

            </ol>
        </div>

    </div>

</div>


<div style="margin:30px 10px 20px 20px; font-family:'Century Gothic'">
    <div class="col-md-12">
        <div style="text-align:justify; border-bottom: 2px dashed #000000;">
            <p style="font-style:italic"><strong>PART E – WE WILL NOT PAY </strong></p>

            <div class="row">
                <ol>
                    <li>
                        If Your Vehicle is driven without your consent, order or permission.
                    </li>

                    <li>
                        If Your Vehicle is driven by You, or by any person with Your consent, who is not licensed to drive Your Vehicle under all relevant laws.
                    </li>

                    <li>
                        If Your Vehicle is driven by any person: <br />
                        a.	whose faculties are impaired by any drug or intoxicating liquor, or <br />

                        b.	who at the time of the accident, had been convicted of driving under the influence of any drug or intoxicating liquor, or <br />

                        c.	with a percentage of alcohol in his/her breath or blood in excess of the percentage permitted by law, or <br />
                        d.	who refuses to provide or allow the taking of a sample of breath, blood or
                        urine for testing or analysis.

                    </li>

                    <li>
                        Damage to property belonging to or held in trust or in your custody or control or that of any member of Your household or any other person entitled to indemnity under this Policy.
                    </li>

                    <li>
                        Any claim resulting from death or bodily injury to any of Your employees which arises out of and in the course of their employment unless such employees are being carried by reason of or in pursuance of a contract of employment.
                    </li>
                    <li>
                        If Your vehicle is used to carry a greater number of passengers or convey or tow a load in excess of that for which Your Vehicle was constructed.
                    </li>
                    <li>
                        If your vehicle is used in an unsafe or unroadworthy condition and such condition caused or contributed to the loss.
                    </li>
                    <li>
                        For any further damage or extension of damage if your vehicle is driven after an accident before the necessary repairs are effected.

                    </li>
                    <li>
                        For loss, damage or liability caused by or materially contributed to by Your Own criminal act or resulting from the use of the vehicle for an unlawful
                        purpose.
                    </li>
                    <li>
                        For damage caused by war, foreign enemies hostilities, mutiny, insurrection, revolution, military or usurped power or by nuclear fuel, waste or material.
                    </li>
                    <li>
                        If Your Vehicle is used in connection with the motor trade for repairs, experiments, tests, trials or in any motor sport.
                    </li>
                    <li>
                        For bodily injury, death, loss or damage occasioned by lawful seizure or other operation of law.
                    </li>
                    <li>
                        For loss or liability incurred whilst Your Vehicle is on a railway line/crossing, whether running or stationary other than as cargo.

                    </li>
                    <li>

                        If Your Vehicle is being used or attached to or towing a vehicle being used for commercial transportation of dangerous goods as defined in the
                        Ghanaian Code for the Transport of Dangerous Goods by Road or Rail.  However, if transportation complies with such Code, then the maximum we will pay in respect of all claims arising out of one Accident is as stated in the schedule.

                    </li>
                    <li>
                        For depreciation, wear and tear, rust or corrosion, mechanical, structural, electrical or electronic breakdown or failure.
                    </li>
                    <li>
                        For any claim arising out of any contractual liability.
                    </li>
                    <li>
                        For damage or loss intentionally caused by you or any person acting with Your consent.
                    </li>

                    <li>
                        For theft of or from Your Vehicle after an accident if reasonable steps to protect or safeguard Your Vehicle have not been taken.
                    </li>
                    <li>
                        If Your vehicle is used for the conveyance of passengers for fare, hire, or reward   other than under a private pooling arrangement.
                    </li>
                    <li>
                        Acts of terrorism committed by a person or persons acting on behalf of or in connection with any Organization.
                    </li>

                    <li>
                        For any accident which occurs outside Ghana.
                    </li>

                </ol>
            </div>

        </div>


        <div style="border-bottom: 1px dashed #000000; margin-top: 20px;">
            <br /><br /><br /><br /><br /><br /><br />
            <p style="font-style:italic"> <strong>PART F – IMPORTANT MATTERS </strong></p>

            <div class="row">
                <ol>
                    <li>
                        The policy and the certificate are not transferable.
                    </li>

                    <li>
                        We may avoid the Policy if you fraudulently: <br />
                        a.	failed to disclose to Us before the Contract was entered into every matter which You knew or which You could reasonably be expected to have known to be a matter relevant to Our decision whether to insure You and on what terms to accept the risk, or <br />
                        b.	misrepresented any facts to Us before the Contract was entered into, and if We would not have entered into the Contract for the same premium and on the same terms and conditions expressed in the Policy but for your failure to disclose or the misrepresentations you made.
                    </li>

                    <li>
                        Avoidance of Certain Terms and Right of Recovery: <br />
                        If we are obliged by the provisions of the law specified in the schedule to make any payment under this Policy, which we would not otherwise have paid, we reserve the right to recover the amount from you or from the person who incurred the liability.

                    </li>

                    <li>
                        Application of Limits of Indemnity: <br />
                        In the event of any accident involving indemnity to more than one person, our liability shall be limited to the agreed amount stated under Section 2-1(ii) and shall apply in priority to the insured.
                    </li>

                    <li>
                        Persons Entitled to Drive: <br />
                        Persons or Classes of Persons entitled to drive the vehicle are as shown in the Certificate of Motor Insurance.
                    </li>

                </ol>
            </div>

        </div>


        <div style="border-bottom: 2px dashed #000000; margin-top: 20px;">
            <p style="font-style:italic"><strong>PART G – GENERAL CONDITIONS  </strong></p>

            <div class="row">
                <ol>
                    <li>
                        <strong>Cancellation </strong> <br />
                        a.	Where the policy is subject to credit facility and the premium is not paid in full within 90 days the policy is deemed automatically cancelled. <br />
                        b.	You may cancel the Policy by giving written notice to Us and We will refund the unused premium after the application of our customary short period premium rates provided no claims have been paid or are pending under the policy. <br />
                        c.	We may cancel the Policy by giving written notice to You by registered letter to Your last known address. We will provide at least 14 days notice prior to cancellation and We will also refund the unused premium on pro-rata basis.
                    </li>

                    <li>
                        <strong>Excess </strong> <br />
                        You will be responsible for the amount shown in the schedule as Excess.
                    </li>

                    <li>
                        Notice shall be given in writing to the company immediately an event giving rise to a claim occurs.
                    </li>

                    <li>
                        If you replace your vehicle and You notify Us, We will cover the replacement vehicle on Our existing terms.  Cover on the replaced vehicle then
                        ceases automatically.
                    </li>

                    <li>
                        Any person entitled to indemnity under the Policy is bound by the terms of the
                        Policy.
                    </li>

                    <li>
                        You must notify Us in writing if You have already effected or if in the future You effect any other insurance or insurances which cover Your Vehicle in whole or in part.

                    </li>

                    <li>
                        You will take all reasonable steps to protect Your Vehicle and will comply with all legal requirements regarding the safety, maintenance and operations of Your Vehicle.
                    </li>
                    <li>
                        Any differences arising from the amount of claim payable under this Policy will be subject to the provisions of the Arbitration Act in force at the time of the difference.
                    </li>
                </ol>
            </div>

        </div>

    </div>
</div>


<div style="margin:30px 10px 20px 20px; font-family:'Century Gothic'">
    <div class="col-md-12">

        <div style="border-bottom: 1px dashed #000000; text-align:justify">
            <div class="row">
                <p style="font-style:italic"><strong> PART H – WHAT YOU MUST DO AFTER AN ACCIDENT  </strong></p>
            </div>

            <div class="row">
                <ol>
                    <li>
                        In the event of any accident You must immediately forward to Us: <br />
                        a.	full details in writing. <br />
                        b.	any communication or court documents received.

                    </li>

                    <li>
                        You may choose Your repairer, but before repairs are started You must: <br />
                        a.	obtain Our written consent. <br />
                        b.	make Your Vehicle available for Our inspection. <br />
                        We have the option to invite, accept, adjust or decline estimates or to arrange (at Our expense) for the removal of Your Vehicle to other repairers for quotation purposes.

                    </li>

                    <li>
                        In respect of each claim or potential claim, You must: <br />
                        a.	not make any admission of guilt or offer of payment without Our written consent. <br />
                        b.	Allow Us to have the sole conduct of all negotiations and proceedings if we so desire. <br />
                        c.	Give Us all reasonable assistance and co-operation in all regards including recovery from the person responsible for the accident. <br />
                        d.	Notify Us of any other insurance that also provides cover, whether in whole or in part. <br />
                        e.	Notify the Police as soon as possible of all accidents including theft of or malicious damage to Your Vehicle. <br />
                        <br /><br /><br /><br /><br /><br /><br />
                    </li>

                    <li>
                        4.	We may at Our discretion: <br />
                        a.	arrange for representation at any inquest regarding any death which may be the subject of indemnity under this Policy. <br />

                        b.	Undertake the defence of proceedings in any Court of Law regarding any act or alleged offence which causes or relates to any event which may be the subject of indemnity under this Policy. <br />

                        c.	after the happening of an accident giving rise to a claim or series of claims under section 2-1 (ii) of the policy, we will pay to you the full amount of our liability under that section
                        and relinquish the conduct of any defence or negotiations or proceedings on your behalf. <br />

                    </li>

                </ol>

            </div>

        </div>

        <br /><br />
        <div style="margin-top: 20px; text-align:center "><p><strong> <u>PERSONAL ACCIDENT COMPENSATION SCHEDULE</u> </strong></p></div>

        <div class="row" style="margin-top: 10px; float:right;">
            <p><strong> <u>Scale of Benefits </u> </strong></p>
            <p><u>Sum Insured - GH¢500.00</u></p>

        </div>
        <br /><br /><br /><br />
        &nbsp;

        <div class="row">
            <div style="margin-top: 10px;width:100%">
                1.  Death <span style="float:right">100%</span>
            </div>

        </div>
        &nbsp;
        <div class="row">
            <div style="width:100%">
                2.  Total and irrecoverable loss of sight in both eyes
                <span style="float:right">100%</span>
            </div>

        </div>
        &nbsp;
        <div class="row">
            <div style="width:100%">
                3.  Total Loss by physical severance at or above the
                Wrist or ankle of both hands or feet or of <span style="float:right">100%</span>
                one
                hand and one foot.
            </div>

        </div>
        &nbsp;
        <div class="row">
            <div style="width:100%">
                4.  Total loss by physical severance at or above the wrist or ankle of one hand or one foot <span style="float:right">100%</span>
                together with the total and irrecoverable loss of all sight in one eye.
            </div>

        </div>
        &nbsp;
        <div class="row">
            <div style="width:100%">
                5.   Total and irrecoverable loss of all sight in one eye. <span style="float:right">50%</span>
            </div>

        </div>
        &nbsp;
        <div class="row">
            <div style="width:100%">
                6. Total loss by physical severance at or above the
                wrist or ankle of one hand or one foot. <span style="float:right">50%</span>
            </div>

        </div>
        &nbsp;
        <div class="row">
            <div style="width:100%">
                7.   Hospitalization/Disablement from engaging in or giving attention to such a person’s occupation. <span style="float:right">1% of S.I. Per Week for a period not exceeding 26 weeks </span>
            </div>

        </div>


    </div>
</div>

<div class="book" style="margin-top: 30px; text-align:justify; font-family:'Century Gothic'">
    <div class="page">
        <div class="subpage_wordings">
            <div>

                <div class="row">
                    <div style="width:100%">
                        8.  Medical Expenses Necessarily Incurred.
                        <span style="float:right">Not More Than 20% of Sum Insured.</span>

                    </div>
                    &nbsp;
                    &nbsp;
                    <div style="width:100%">
                        <p>
                            &nbsp;
                            Provided Always That:
                        </p>
                        <p>
                            a.	Compensation shall only be payable to a claimant under one of the benefits 1 to
                            7 stated above in respect of any one Accident and Our total liability shall not exceed the sum of GH¢500.00 for any one claimant.
                        </p>
                        <p>
                            b.	No compensation shall be payable to any person in respect of death or injury directly or indirectly arising from an
                            Accident happening whilst the driver of Your Vehicle is under the influence of intoxicating liquor or drugs.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>