<div class="main">

    <h2 style="border-bottom-color:red" class="sub-header">Products</h2>


    <div class="row placeholders">

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwMotorUAT">
                <img src="~/Content/Images/bict_icons/icon-BIC-white-4.png" style="width: 80px; border: 0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>Motor </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">

            <a href="~/Home/frmUwHomeOwners">
                <img src="~/Content/Images/Products/HomOwners.png" style="width: 80px; border: 0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5>Home Owners </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwFire">
                <img src="~/Content/Images/Products/Fire.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Fire and Allied Perils</h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwTravel">
                <img src="~/Content/Images/Products/Travel.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail" />
                <h5>Travel </h5>
                <span class="text-muted">  </span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwPA">
                <img src="~/Content/Images/Products/PA.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Personal Accident  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a id="showEngineer">
                <img src="~/Content/Images/Products/Engineering.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Engineering  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a id="showMarine">
                <img src="~/Content/Images/Products/Marine.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Marine  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwAviation">
                <img src="~/Content/Images/Products/Aviation.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Aviation  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwBond">
                <img src="~/Content/Images/Products/Bonds.png" style="width: 80px; border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Bond  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a id="showga">
                <img src="~/Content/Images/Products/GenAccident.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> General Accident  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a id="showliability">
                <img src="~/Content/Images/Products/Liability.png" style="width:80px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                <h5> Liability  </h5>
                <span class="text-muted"></span>
            </a>
        </div>

    </div>

    <div class="modal draggable ui-accordion fade" id="gaLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">General Accident Risk</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwGACashinTransit">
                                    <img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                                    <h5> Cash In Transit </h5>

                                </a>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwGAGoodsinTransit">
                                    <img src="~/Content/Images/cargo.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                                    <h5> Goods In Transit </h5>
                                </a>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwGAProIndemnity">
                                    <img src="~/Content/Images/professional-indemnity.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                                    <h5> Professional Indemnity </h5>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal draggable ui-accordion fade" id="liabilityLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Liability Risk</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwLiability">
                                    <img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                                    <h5> Other Liabilities </h5>
                                </a>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwLiabilityWorksmenComp">
                                    <img src="~/Content/Images/cargo.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail">
                                    <h5> Worksmen Compensation </h5>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal draggable ui-accordion fade" id="MarineLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Marine Risk</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwMarineCargo"><img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Marine Cargo/Open </h5>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwMarineHull"><img src="~/Content/Images/cargo.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Marine Hull </h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal draggable ui-accordion fade" id="EngineerLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Marine Risk</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwEngineerCAR"><img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Contractor All Risk </h5>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwEngineer"><img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Erection All Risk  </h5>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwEngineerOthers"><img src="~/Content/Images/cargo.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Others </h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $("#showga").click(function () {
        $("#gaLovModal").modal();
    });

    $("#showliability").click(function () {
        $("#liabilityLovModal").modal();
    });
    $("#showMarine").click(function () {
        $("#MarineLovModal").modal();
    });
    $("#showEngineer").click(function () {
        $("#EngineerLovModal").modal();
    });
</script>