<div class="main">

    <h2 style="border-bottom-color:red" class="sub-header">Products</h2>


    <div class="row placeholders">

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwMotorUAT"> <img src="~/Content/Images/bict_icons/icon-BIC-white-4.png" style="width: 80px; border: 0" class="img-responsive" alt="Generic placeholder thumbnail"> </a>
            <h5>Motor Insurance</h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">

            <a href="~/Home/frmUwHomeOwners"> <img src="~/Content/Images/bict_icons/icon-BIC-white-2.png" style="width:90px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5>Home Owners Insurance</h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwFire"> <img src="~/Content/Images/fireInsurance.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Fire and Allied Perils</h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwTravel"> <img src="~/Content/Images/Travel Insurance.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail" /></a>
            <h5>Travel Insurance</h5>
            <span class="text-muted">  </span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwPA"> <img src="~/Content/Images/PA_insurance.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Personal Accident Insurance </h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwEngineer"> <img src="~/Content/Images/engeneering.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Engineering Insurance </h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwMotor"> <img src="~/Content/Images/marineInsurance.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Marine Insurance </h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwMotor"> <img src="~/Content/Images/Aviation.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Aviation Insurance </h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="~/Home/frmUwBond"> <img src="~/Content/Images/bond.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Bond Insurance </h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a id="showga"><img src="~/Content/Images/car-accident-claims.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> General Accident Insurance </h5>
            <span class="text-muted"></span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <a id="showliability"> <img src="~/Content/Images/liability.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h5> Liability Insurance </h5>
            <span class="text-muted"></span>
        </div>

    </div>

    <div class="modal draggable ui-accordion fade" id="gaLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">General Accident Risk</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 placeholder">
                              <a href="~/Home/frmUwGACashinTransit"><img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Cash In Transit </h5>
                            </div>  
                            <div class="col-md-4 placeholder">
                              <a href="~/Home/frmUwGAGoodsinTransit"><img src="~/Content/Images/cargo.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Goods In Transit </h5>
                            </div>
                            <div class="col-md-4 placeholder">
                              <a href="~/Home/frmUwGAProIndemnity"><img src="~/Content/Images/professional-indemnity.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Professional Indemnity </h5>
                            </div>
                        </div>
                    </div>                  

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal draggable ui-accordion fade" id="liabilityLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Liability Risk</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwLiability"><img src="~/Content/Images/cash_in_transit.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Other Liabilities </h5>
                            </div>
                            <div class="col-md-4 placeholder">
                                <a href="~/Home/frmUwLiabilityWorksmenComp"><img src="~/Content/Images/cargo.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                                <h5> Worksmen Compensation </h5>
                            </div>                          
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    $("#showga").click(function () {
        $("#gaLovModal").modal();
    });

    $("#showliability").click(function () {
        $("#liabilityLovModal").modal();
    });
</script>