@{
    ViewBag.Title = "Motor Claim Payment";
}

<script src="~/Scripts/Claims/Claim_Scripts/claim.Motor.Pmt.js"></script>
<script src="~/Scripts/Claims/Claim_Services/claim.estimation.service.js"></script>
<script src="~/Scripts/Libraries/SibaScript/getSequenceNo.js"></script>
<script src="~/Scripts/Libraries/SibaScript/RetnSequenceNo.js"></script>

<div class="main">

    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row form-view">

                <div class="col-sm-12 col-md-12">
                    <!--Form Header-->
                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btn_Delete">
                                            <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa fa-refresh" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryClaim" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; text-align: center; float: right; margin-right: 10px"
                                               class="form-control" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row form-header">
                        <div class="row control-group form-padding">
                            <div class="container" style="width:100%">
                                <span class="control-grp-lbl text-danger">Claim Settlement Setup Details</span>

                                <form id="clmEstimateForm" name="clmEstimateForm">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control" min="3" max-length="15" type="hidden" id="CLM_SYS_ID" name="CLM_SYS_ID" title="Code" />
                                            <input class="form-control" min="3" max-length="15" type="hidden" id="CLM_STATUS" name="CLM_STATUS" title="Code" />

                                            <div class="row">
                                                <div class="form-group">

                                                    <div class="col-md-3">
                                                        <label class="required">Claim Number</label>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input class="form-control" min="3" max-length="15" type="text" id="CLM_N0" name="CLM_N0" title="Policy No." required/>

                                                            <span class="input-group-btn">
                                                                <span id="spry_basecurr">
                                                                    <button type="button" class="btn btn_lov btn-default pull-left" id="btnClaimNo">
                                                                        <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                                    </button>
                                                                    <span class="textfieldRequiredMsg">Policy ID is required.</span>
                                                                </span>
                                                            </span>
                                                           
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Processing Office</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input class="form-control" min="3" max-length="15" type="text" id="CLPMT_CLM_OFFICE1" name="CLPMT_CLM_OFFICE1" title="Code" required />

                                                            <span class="input-group-btn">
                                                                <span id="spry_basecurr">
                                                                    <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_office", "field1":"CLPMT_CLM_OFFICE1", "field2":"CLPMT_CLM_OFFICE11"}'>
                                                                        <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                                    </button>
                                                                    <span class="textfieldRequiredMsg">Office is required.</span>
                                                                </span>
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_CLM_OFFICE11" id="CLPMT_CLM_OFFICE11" title="Name" />
                                                            <span class="textfieldRequiredMsg">Office Name is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Policy Branch</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input class="form-control" min="3" max-length="15" type="text" id="CLM_OFF_CODE" name="CLM_OFF_CODE" title="Code" required />

                                                            <span class="input-group-btn">
                                                                <span id="spry_basecurr">
                                                                    <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_office", "field1":"CLM_OFF_CODE", "field2":"OFF_NAME"}'>
                                                                        <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                                    </button>
                                                                    <span class="textfieldRequiredMsg">Office is required.</span>
                                                                </span>
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="OFF_NAME" id="OFF_NAME" title="Name" />
                                                            <span class="textfieldRequiredMsg">Office Name is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Policy Number</label>
                                                    </div>

                                                    <div class="col-md-5">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="CLM_POLH_SYS_ID" id="CLM_POLH_SYS_ID" title="Name" />
                                                            <span class="textfieldRequiredMsg">Rate is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Loss Date</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span id="spry_name">
                                                            <input id="CLM_LOSS_DATE" class="form-control"
                                                                   type="text" name="CLM_LOSS_DATE" title="Name" required />
                                                            <span class="textfieldRequiredMsg">Date is required.</span>
                                                        </span>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label class="required">Disc Date</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span id="spry_name">
                                                            <input id="CLM_DISC_DATE" class="form-control"
                                                                   type="text" name="CLM_DISC_DATE" title="Name" required />
                                                            <span class="textfieldRequiredMsg">Date is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Reported Date</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span id="spry_name">
                                                            <input id="CLM_REP_DATE" class="form-control"
                                                                   type="text" name="CLM_REP_DATE" title="Name" required />
                                                            <span class="textfieldRequiredMsg">Date is required.</span>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label class="required">Txn Date</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <span id="spry_name">
                                                            <input id="CLM_TXN_DATE" class="form-control"
                                                                   type="text" name="CLM_TXN_DATE" title="Name" required />
                                                            <span class="textfieldRequiredMsg">Date is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Cause of Loss</label>
                                                    </div>
                                                  
                                                    <div class="col-md-5">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="CLM_CAUSE_NAME" id="CLM_CAUSE_NAME" title="Name" />
                                                            <span class="textfieldRequiredMsg">Rate is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Place of Loss</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <textarea class="form-control" id="CLM_LOSS_PLACE" name="CLM_LOSS_PLACE" title="Place of Loss" required></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Claims Remarks</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <textarea class="form-control" id="CLM_REMARKS" name="CLM_REMARKS" title="Claim Remarks" required></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6">

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="required">Client</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="CLM_CLT_CODE" id="CLM_CLT_CODE" readonly title="" />
                                                            <span class="textfieldRequiredMsg">Rate is required.</span>
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="CLM_CLT_NAME" id="CLM_CLT_NAME" readonly title="Name" />
                                                            <span class="textfieldRequiredMsg">Name is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="">Time Bared?</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input class="checkbox checkbox-inline pull-left" type="checkbox" id="CLM_TIME_BRD" name="CLM_TIME_BRD" />
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label class="">Warranty Breached?</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input class="checkbox checkbox-inline pull-left" type="checkbox" id="CLM_WART_BRCH" name="CLM_WART_BRCH" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="">Repudiate Claim?</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input class="checkbox checkbox-inline pull-left" type="checkbox" id="CLM_RPDT" name="CLM_RPDT" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="">CAT Claim?</label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input class="checkbox checkbox-inline pull-left" type="checkbox" id="CLM_CAT" name="CLM_CAT" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="">CAT Event</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input class="form-control" min="3" max-length="15" type="text" id="CLM_CAT_EVNT_CODE" name="CLM_CAT_EVNT_CODE" title="Code" disabled/>

                                                            <span class="input-group-btn">
                                                                <span id="spry_basecurr">
                                                                    <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_catastrophy", "field1":"CLM_CAT_EVNT_CODE", "field2":"CLM_CAT_NAME"}'>
                                                                        <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                                    </button>
                                                                    <span class="textfieldRequiredMsg">Rate is required.</span>
                                                                </span>
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span id="spry_baserate">
                                                            <input class="form-control" min="3" max-length="50" type="text" name="CLM_CAT_NAME" id="CLM_CAT_NAME" title="Name" disabled />
                                                            <span class="textfieldRequiredMsg">Rate is required.</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                          

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" class="form-control" id="CLM_STATUS" name="CLM_STATUS">
                                            <input type="hidden" class="form-control" id="CLM_SYS_ID" name="CLM_SYS_ID">
                                        </div>
                                    </div>


                                </form>

                                <!-- *** -->

                            </div>
                        </div>
                    </div>

                    <!--Header-->
                    <div class="row form-header">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">Risk Details</a></li>
                                <li><a href="#tabs-2">Loss Settlement</a></li>
                                <li><a href="#tabs-3">Expense/Fees Settlement</a></li>
                                <li><a href="#tabs-4">Settlement Summary</a></li>
                                <li><a href="#tabs-5">Claims Documents</a></li>
                            </ul>
                            <div id="tabs-1">

                                <hr />
                                <div class="row">
                                    <table id="grdRiskDtls"></table>
                                    <table id="grdRiskDtlsPager"></table>
                                </div>
                            </div>

                            <div id="tabs-2">

                                <!--Grid Buttons-->
                                <div class="row">
                                    <div class="btn-block">


                                        <button id="btn_Loss_Settlement" class="btn btn-danger" type="button"><i class="fa fa-list-ul "></i> Settle Loss Claims</button>

                                       <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                            <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <table id="grdEstimatesDtls"></table>
                                    <table id="grdEstimatesDtlsPager"></table>
                                </div>
                            </div>


                            <div id="tabs-3">
                             
                                    <!--Grid Buttons-->
                                    <div class="row">
                                        <div class="btn-block">


                                            <button id="btn_Expense_Settlement" class="btn btn-danger" type="button"><i class="fa fa-list-ul "></i> Settle Expense Claims</button>

                                            <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                                <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <table id="grdExpseSetment"></table>
                                        <table id="grdExpseSetmentPager"></table>
                                    </div>
                               
                            </div>

                            <div id="tabs-4">
                                <div class="row">
                                    <table id="gridClm_Summary"></table>
                                    <table id="gridClm_SummaryPager"></table>
                                </div>
                            </div>

                            <div id="tabs-5">
                                <div class="row">
                                    <table id="grdExpseSetmentqq"></table>
                                    <table id="grdExpseSetmentPagerqq"></table>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Claim Settlement Details Dialog -->

    <div class="modal draggable fade " id="ClmLossSetmentModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <div class="modal-header">
                    <div class="row bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="msg" class="modal-title"><strong style="font-size: 20px; margin-left:30px; color: white; line-height: 1.7; font-family: Arial"> </strong></h4>
                    </div>
                   
                    <div class="row some-bg-color">
                        <div style="margin-top: 10px;">
                            <div class="col-md-7">
                                <button id="" type="button" class="btn btn-success"><i class="fa fa-check-circle "></i>Aprrove Claim </button>
                                <button id="btn_add_expense" type="button" class="btn btn-danger"><i class="fa fa-print "></i> Print Document </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-body">

                    <div class="row control-group form-padding">
                        <div class="container" style="width: 100%">
                            <span class="control-grp-lbl text-danger">Loss Claim Settlement </span>

                        <form id="clmSettledForm1" name="clmSettledForm1">

                        <div class="row">
                            <input class="form-control" type="hidden" id="CLPMT_CLAIM_NO" name="CLPMT_CLAIM_NO" />
                            <input class="form-control" type="hidden" id="CLPMT_CLM_REG_SYS_ID" name="CLPMT_CLM_REG_SYS_ID" />
                            <input class="form-control" type="hidden" id="CLPMT_RISK_SYS_ID" name="CLPMT_RISK_SYS_ID" />
                            <input class="form-control" type="hidden" id="CLPMT_POLH_SYS_ID" name="CLPMT_POLH_SYS_ID" />
                            <input class="form-control" type="hidden" id="CLPMT_CLM_TYPE" name="CLPMT_CLM_TYPE" />
                            <input class="form-control" type="hidden" id="CLPMT_CLM_OFFICE" name="CLPMT_CLM_OFFICE" />
                            <input class="form-control" type="hidden" id="CLPMT_POL_OFFICE" name="CLPMT_POL_OFFICE" />
                            <input class="form-control" type="hidden" id="CLPMT_CLM_EXP_TYPE" name="CLPMT_CLM_EXP_TYPE" />
                            <input class="form-control" type="hidden" id="CLPMT_TXN_TYPE" name="CLPMT_TXN_TYPE" />
                        </div>
                        <div class="row">
                           <div class="form-group">

                                <div class="col-md-2">
                                    <label class="required">Settlement Type ?</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_STLMNT_TYPE" name="CLPMT_STLMNT_TYPE" class="btn btn-default dropdown-toggle" required="">
                                        <option value="">--Select Type--</option>
                                        <option value="P">Partial</option>
                                        <option value="F">Full</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label class="required">Settlement Option</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_STLMNT_OPTION" name="CLPMT_STLMNT_OPTION" class="btn btn-default dropdown-toggle">
                                        <option value="">--Select--</option>
                                        <option value="E">Expense</option>
                                        <option value="F">Fees</option>
                                    </select>
                                </div>

                          </div>                      
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="required">Ex-Gratia ?</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_EX_GRATIA" name="CLPMT_EX_GRATIA" class="btn btn-default dropdown-toggle" >
                                        <option value="">--Select--</option>
                                        <option value="N">No</option>
                                        <option value="Y">Yes</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label class="required">Total Loss?</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_TOTAL_LOSS" name="CLPMT_TOTAL_LOSS" class="btn btn-default dropdown-toggle" >
                                        <option value="">--Select--</option>
                                        <option value="N">No</option>
                                        <option value="Y">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="required">Payment Type:</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_PAY_TYPE" name="CLPMT_PAY_TYPE" class="btn btn-default dropdown-toggle" required="">
                                        <option value="">--Select--</option>
                                        <option value="OD">Own Damage</option>
                                        <option value="GA">Garage</option>
                                        <option value="SO">Solicitor</option>
                                        <option value="SV">Surveyor</option>
                                        <option value="TP">Third Party</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label class="required">Pay To:</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_PAY_TO" name="CLPMT_PAY_TO" class="btn btn-default dropdown-toggle" required="">
                                        <option value="">--Select--</option>
                                        <option value="C">Customer</option>
                                        <option value="F">Financier</option>
                                        <option value="R">Repairer</option>
                                        <option value="T">Third Party</option>
                                    </select>
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="required">Payee</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" min="3" max-length="15" type="text" id="CLPMT_PAYEE_ID" name="CLPMT_PAYEE_ID" title="Code" required/>
                                        <span class="input-group-btn">
                                            <span id="spry_basecurr">
                                                <button type="button" class="btn btn_lov btn-default pull-left" id="btn_CustomersLov" name="btn_CustomersLov">
                                                    <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                </button>
                                                <span class="textfieldRequiredMsg">Office is required.</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <span id="spry_baserate">
                                        <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_PAYEE_NAME" id="CLPMT_PAYEE_NAME" title="Name" />
                                        <span class="textfieldRequiredMsg">Office Name is required.</span>
                                     </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="required">Cheque Name</label>
                                </div>
                                <div class="col-md-10">
                                    <span id="spry_baserate">
                                        <textarea class="form-control" id="CLPMT_CHQ_NAME" name="CLPMT_CHQ_NAME" title="" required></textarea>
                                        <span class="textfieldRequiredMsg">Rate is required.</span>
                                     </span>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="required">Currency</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" min="3" max-length="15" type="text" id="CLPMT_CURRENCY" name="CLPMT_CURRENCY" title="Code" required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_currency", "field1":"CLPMT_CURRENCY", "field2":"CLPMT_CURR_RATE"}'>
                                                <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                            </button>
                                          </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_CURR_RATE" id="CLPMT_CURR_RATE" title="Name" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="required">Claim Amount</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_CLM_AMT_FC" id="CLPMT_CLM_AMT_FC" required />
                                </div>
                                <div class="col-md-2">
                                    <label class="">Claim Excess</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_DED_FC" id="CLPMT_DED_FC" required />
                                </div>
                                <div class="col-md-2">
                                    <label class="">Tax </label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_TAX_FC" id="CLPMT_TAX_FC" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label class="required">Net Claim Amount</label>
                            </div>

                            <div class="col-md-2">
                                <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_NET_CLM_FC" id="CLPMT_NET_CLM_FC" required />
                            </div>
                            <div class="col-md-2">
                                <label class="required">Narration</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <textarea class="form-control" id="CLPMT_CLM_NARRATION" name="CLPMT_CLM_NARRATION" title="Narration"></textarea>
                                </div>
                            </div>
                        </div>
                      
                        </form>
                            <hr />
                        <div class="row">
                            <div class="col-md-1">
                                <label class=""></label>
                            </div>
                            <button id="btn_add_est_settle" type="button" class="btn btn-default"><i class="fa fa-plus-circle text-success"></i> Add New </button>
                            <button id="btn_update_est_settle" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update </button>
                            <button id="" class="btn btn-default" type="reset"><i class="fa fa-trash-o text-danger"></i> Clear </button>

                        </div>
                            <hr />
                            <div class="row">
                                <table id="grdClmLossSettled"></table>
                                <table id="grdClmLossSettledPager"></table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer" style="background-color:rgba(0, 0, 0, .1)">                 
                    <button id="btn_LossClm_Onclose" type="button" class="btn btn-primary pull right">Ok</button>
                </div>

            </div>

        </div>
    </div>


<!--Claim Expense Settlement Details Dialog -->

    <div class="modal draggable fade " id="ClmExpSetmentModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">

                <div class="modal-header bg-primary">
                    <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    <i class="fa ion-information-circled pull-left text-primary" style="font-size: 3rem;"></i>
                    <div class="row">
                        <div class="col=md-12">
                            <div class="col-md-4">
                                <strong style="font-size: 20px; color: white; line-height: 1.7; font-family: Arial"> Expense Claim Settlement</strong>
                            </div>
                         
                        </div>
                    </div>
                </div>

                <div class="modal-body">

                    <div class="row control-group form-padding">
                        <div class="container" style="width: 100%">
                            <span class="control-grp-lbl text-danger">Expense Claim Settlement</span>
                        <form id="clmExpenseForm1" name="clmExpenseForm">
                        <input class="form-control" min="3" max-length="15" type="hidden" id="CLM_EXP_CLM_EST_SYS_ID" name="CLM_EXP_CLM_EST_SYS_ID" title=""/>
                        <input class="form-control" min="3" max-length="15" type="hidden" id="CLM_EXP_CLM_EST_TYPE" name="CLM_EXP_CLM_EST_TYPE" title=""/>

                        <div class="row">


                            <div class="form-group">

                                <div class="col-md-2">
                                    <label class="required">Settlement Type ?</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="CLPMT_STLMNT_TYPE" name="CLPMT_STLMNT_TYPE" class="btn btn-default dropdown-toggle" required="">
                                        <option value="">--Select Type--</option>
                                        <option value="P">Partial</option>
                                        <option value="F">Full</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label class="required">Settlement Option</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="LDI_TYPE" name="LDI_TYPE" class="btn btn-default dropdown-toggle" required="">
                                        <option value="">--Select--</option>
                                        <option value="E">Expense</option>
                                        <option value="F">Fees</option>
                                    </select>
                                </div>
                            </div>
                            <hr/>

                        </div>
                        <hr/>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="required">Payment Type:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="CLPMT_PAY_TYPE" name="CLPMT_PAY_TYPE" class="btn btn-default dropdown-toggle" required="">
                                            <option value="">--Select--</option>
                                            <option value="OD">Own Damage</option>
                                            <option value="GA">Garage</option>
                                            <option value="SO">Solicitor</option>
                                            <option value="SV">Surveyor</option>
                                            <option value="TP">Third Party</option>
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label class="required">Pay To:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="CLPMT_PAY_TO" name="CLPMT_PAY_TO" class="btn btn-default dropdown-toggle" required="">
                                            <option value="">--Select--</option>
                                            <option value="C">Customer</option>
                                            <option value="F">Financier</option>
                                            <option value="R">Repairer</option>
                                            <option value="T">Third Party</option>
                                        </select>
                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="required">Payee</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input class="form-control" min="3" max-length="15" type="text" id="CLPMT_PAYEE_ID" name="CLPMT_PAYEE_ID" title="Code" required />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_office", "field1":"CLPMT_PAYEE_ID", "field2":"OFF_NAME"}'>
                                                    <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_PAYEE_NAME" id="CLPMT_PAYEE_NAME" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="required">Cheque Name</label>
                                    </div>
                                    <div class="col-md-10">
                                        <span id="spry_baserate">
                                            <textarea class="form-control" id="CLM_LOSS_PLACE" name="CLM_LOSS_PLACE" title="Place of Loss" required></textarea>
                                            <span class="textfieldRequiredMsg">Rate is required.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="required">Currency</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input class="form-control" min="3" max-length="15" type="text" id="CLPMT_CURRENCY" name="CLPMT_CURRENCY" title="Code" required />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_office", "field1":"CLPMT_CURRENCY", "field2":"CLPMT_CURR_RATE"}'>
                                                    <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_CURR_RATE" id="CLPMT_CURR_RATE" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="required">Claim Amount</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_CLM_AMT_FC" id="CLPMT_CLM_AMT_FC" required />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="">Claim Excess</label>
                                    </div>
                                    <div class="col-md-2">
                                        <span id="spry_baserate">
                                            <input class="form-control" min="3" max-length="50" type="text" name="OFF_NAME" id="OFF_NAME" title="Name" />
                                            <span class="textfieldRequiredMsg"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="">Tax </label>
                                    </div>
                                    <div class="col-md-2">
                                        <span id="spry_baserate">
                                            <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_TAX_FC" id="CLPMT_TAX_FC" title="Name" />
                                            <span class="textfieldRequiredMsg">Office Name is required.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="required">Net Claim Amount</label>
                                </div>

                                <div class="col-md-2">
                                    <span id="spry_baserate">
                                        <input class="form-control" min="3" max-length="50" type="text" name="CLPMT_NET_CLM_FC" id="CLPMT_NET_CLM_FC" title="" />
                                        <span class="textfieldRequiredMsg">Office Name is required.</span>
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <label class="required">Narration</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="CLPMT_CLM_NARRATION" name="CLPMT_CLM_NARRATION" title="Narration"></textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                            <hr />
                            <div class="row">
                                <div class="col-md-1">
                                    <label class=""></label>
                                </div>
                                <button id="btn_add_expense" type="button" class="btn btn-default"><i class="fa fa-plus-circle text-success"></i> Add New </button>
                                <button id="btn_update_expense" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update </button>
                                <button id="" class="btn btn-default" type="reset"><i class="fa fa-trash-o text-danger"></i> Clear </button>

                            </div>
                            <hr />
                            <div class="row">
                                <table id="grdclmExpSettled"></table>
                                <table id="grdclmExpSettledPager"></table>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer" style="background-color:rgba(0, 0, 0, .1)">

                    <button id="btn_Exp_Onclose" type="button" class="btn btn-primary pull right">Ok</button>
                </div>

            </div>

        </div>
    </div>


    <!--  Policy Modal -->

    <div class="modal draggable ui-accordion fade" id="policyLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">LOV Modal</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <label>Search:</label>
                            </div>
                            <div class="col-md-10">
                                <input class="text ui-widget-content ui-corner-all" style="margin-left: 10px; height: 30px; width: 70%; text-align: center" type="text" id="txtPolhSearch" title="" placeholder="Search by ID" />
                                <button type="button" class="btn btn-default" id="btnQueryPolh" name="btnQueryPolh">
                                    <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table id="gridPolh"></table>
                        <table id="gridPolhPager"></table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Search Modal -->

    <div class="container">
        <div class="modal draggable ui-accordion fade" id="mySearchResultModal" role="dialog" data-backdrop="static" data-keyboard="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-success">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Tariff Search Result</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table id="grdSearchResults"></table>
                            <table id="grdSearchResultsPager"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="search-ok" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        <button id="search-close" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  Claim Modal -->

    <div class="modal draggable ui-accordion fade" id="claimLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">LOV Modal</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <label>Search:</label>
                            </div>
                            <div class="col-md-10">
                                <input class="text ui-widget-content ui-corner-all" style="margin-left: 10px; height: 30px; width: 70%; text-align: center" type="text" id="txtClmNoSearch" title="" placeholder="Search by ID" />
                                <button type="button" class="btn btn-default" id="btnQueryClmDtls" name="btnQueryClmDtls">
                                    <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table id="gridClmDtls"></table>
                        <table id="gridClmDtlsPager"></table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!--  Customer Modal -->

    <div class="modal draggable ui-accordion fade" id="customerLovModal" role="dialog" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">LOV Modal</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <label>Search:</label>
                            </div>
                            <div class="col-md-10">
                                <input class="text ui-widget-content ui-corner-all" style="margin-left: 10px; height: 30px; width: 70%; text-align: center" type="text" title="" placeholder="Search by Name" />
                                <button type="button" class="btn btn-default" id="btnQueryCustomers" name="btnQueryCustomers">
                                    <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table id="gridCustomer"></table>
                        <table id="gridCustomerPager"></table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>



